$blue-text:#1b80e7;
$red:#fd4747;
$black-color:#000;
$white-color:#fff;
$transparent-color:transparent;
$darkgrey-color:#1f1e1d;
$grey-color:#191919;
$color-99:#999999;
$color-f2:#f2f2f2;
$color-f7:#f7f7f7;
$color-f1:#f1f1f1;
$color-f5:#f5f5f5;
$color-fa:#fafafa;
$color-fb:#fbfbfb;
$color-aa:#aaaaaa;
$color-42:#424242; 
$color-c7:#c7c7c7; 
$color-80:#808080;
$color-df:#dfdfdf;  
$blue-color:#00aeef;
$input-color:#fdfdfe;
$color-ee:#eeeeee;
$color-bb:#bbbbbb;
$greencolor:#001d28;
$color-f9:#f9f9f9;
$color-cc:#cccccc;
$color-b7:#b7b7b7;
$green:#00be3a;
$orange:#ef9815;
$red:#fd5151;
$alertBg:#fef8ef;
$yellow:#f4a323;
$yellow-dark:#ffcc00;
$golden:#efb400;

$family: 'rubikregular';
$medium:'rubikmedium';
$light:'rubiklight';
$regular:'rubikregular';
$moonfamily:'icomoon' !important;    
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px;
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;

$image-path		  : "../images" !default;
$font-path        : "../fonts" !default;
$icons-font-path  : "../fonts/custom-font/fonts" !default;