.btn{
  &.border-btn{
    @include text-format(16px,$blue-color);
    border:1px solid $blue-color;
    @include radius(4px);
    background-color: $white-color;
    padding: 2px 10px;
    min-width: 95px;
    text-align: center;
    i{
      margin-right: 10px;
    }
    &:hover{
      background-color: $blue-color;
      color: $white-color;
    }
    &.grey{
      border-color:$color-b7;
      color: $color-42;
      &:hover{
        background-color: $color-42;
        color: $white-color;
      }
    }
    &.white{
      border-color:white;
      color: white;
      background-color: transparent;
      &:hover{
        background-color: transparent;
        color:  $white-color;
      }
    }
    &.red{
      border-color:$red;
      color: $red;
      &:hover{
        background-color: $red;
        color: $white-color;
      }
    }
    &.green{
      border-color:$green;
      color: $green;
      &:hover{
        background-color: $green;
        color: $white-color;
      }
    }
    &.btn-lg{
      padding: 13px 20px;
      @media screen and (max-width:1200px){
          padding: 6px 10px;
          font-size: 14px;
      }
      &.btn-220{
        min-width: 220px;
        margin-right: 20px;
        @media screen and (max-width:1200px){
          width:10px;
          margin-right: 10px;
        }
        @media screen and (max-width:479px){
          width:100%;
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
    }
    @media screen and (max-width:479px){
      display: block;
      white-space: pre-wrap;
      width: 100%;
    }
  }
  &.btn-theme{
    background-color: $blue-color;
    @include radius(4px);
    @include text-format(17px,$white-color);
    font-family: $medium;
    text-align: center;
    padding: 12px 15px;
    min-width: 170px;
    border: 1px solid $blue-color;
    &.blackWithout{
      background-color: $transparent-color;
      border-color:$color-42;
      color:$color-42; 
      &:hover{
        background-color: $color-42; 
        color: white;
      }
    }
    &.redwithout{      
      background-color: $transparent-color;
      border-color:$red;
      color:red; 
      &:hover{
        background-color: red; 
        color: white;
      }
    }
    &.red{
      background-color: $red;
      border-color:$red; 
      &:hover{
        background-color: $transparent-color;
        color: $red;
      }
    }
    &.green{
      background-color: $green;
      border-color:$green; 
      &:hover{
        background-color: $transparent-color;
        color: $green;
      }
    }
    &:hover{
      background-color: $transparent-color;
      color: $blue-color;
    }
    i{
      margin-left: 10px;
      font-size: 10px;
    }
    @media screen and (max-width:1200px){
      padding: 6px;
      font-size: 14px;
    }
    @media screen and (max-width:767px){
      margin-bottom: 5px;
    }
    &.btn-260{
      min-width: 260px;
      margin-right: 30px;
      @media screen and (max-width:479px){
        width:100%;
        margin-right: 0;
        min-width:100%;
      }
    }
  }

}