.main-inner{
	&.in-pagecontainer{		
		/* status css start */
		.statusBox{
			background-color: $white-color;
			border:1px dashed $color-b7;
			padding: 30px;
			margin-bottom: 15px;
			@media screen and (max-width:992px){
				padding: 15px;
			}
			p{
				font-family: $regular;
				margin-bottom: 15px;
				@media screen and (max-width:767px){
					margin-bottom:10px;  
				}
				&:last-child{
					margin-bottom: 0;
					@media screen and (max-width:767px){
						margin-bottom:10px;  
					}
				}
				.border-btn{
					margin: 0 10px 0 0px;
					@media screen and (max-width:767px){
						margin:0 0 5px 0;  
					}
				}
				span{
					margin-right: 10px;
				}
			}
			&.green{
				border-color:$green;
			}
		}			
		/* status css end */

		/* alert css start */
		.alertbox{
			padding: 35px 50px;
			background-color: $alertBg;
			margin-bottom: 60px;
			@media screen and (max-width:1200px){
				padding: 20px 30px;
				margin-bottom: 40px;
			}
			@media screen and (max-width:992px){
				padding: 15px 20px;
				margin-bottom: 30px;
			}
			h4{
				@include text-format(18px,$yellow);
				font-family: $medium;
				margin-bottom: 30px;
				@media screen and (max-width:1200px){
					font-size: 16px;
					margin-bottom: 20px;
				}
				@media screen and (max-width:767px){
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
			.close{
				@include text-format(30px,$color-42);
				font-family: $regular;
				opacity: 1;
				@media screen and (max-width:1200px){
					font-size: 24px;
				}
			}
			p{
				margin:30px 0 0 0;
				@media screen and (max-width:767px){
					margin-top: 15px;
				}
				a{
					font-family: $medium;
				}			
			}
			ul{
				li{
					background-color: $white-color;
					margin-bottom: 10px;
					font-size: 17px;
					display:flex;
					@media screen and (max-width:1200px){
						font-size: 14px;
					}
					@media screen and (max-width:767px){
						font-size: 13px;
						display: block;
					}
					&.blue{
						i{
							background-color: $blue-color;
						}
					}
					&.green{
						i{
							background-color: $green;
						}
					}
					i{
						background-color: $red;
						@include text-format(22px,$white-color);
						width: 6%;
						text-align: center;
						line-height: 60px;
						@media screen and (max-width:767px){
							font-size: 18px;
							display: block;
							width: 100%;
							line-height: 30px;				
						}	
					}
					span{
						@include text-format(18px,$color-42);
						padding: 18px 20px;
						width: 80%;
						@media screen and (max-width:1200px){
							padding: 15px 10px;
							font-size: 14px;
						}
						@media screen and (max-width:767px){
							font-size: 13px;
							width: 100%;
							display: block;
							padding:15px 10px 0 10px;
						}
					}
					a{
						text-align:right;
						width:calc(100% - 86%);
						padding:18px 20px;	
						@media screen and (max-width:767px){
							font-size: 13px;
							padding: 10px;
							display: inline-block;
							width: auto;
						}						
					}			
				}
			}
		}	
		/* alert css end */
	}
}